{% extends 'layout.html.twig' %}

{% block title %}Category index{% endblock %}

{% block content %}
    <div class="w-100">
        <h1>Mentions légales</h1>
        <hr class="w-100">
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad autem distinctio et exercitationem magnam porro qui sequi unde veniam. Aut dignissimos esse est ipsum iste nesciunt non obcaecati quisquam repellat.</p>
{% endblock %}