<!-- Footer -->
<footer class="footer fixed-bottom font-small unique-color-dark pt-4 bg-success ">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Plus d'infos ? </h5>
            </li>
            <li class="list-inline-item">
                <a href="{{ url('blog_contact') }}" class="btn btn-outline-white btn-rounded">Nous contacter</a>
            </li>
        </ul>
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright:
        <strong> Victor FAU for school</strong>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->